
# Python
__pycache__/
*.pyc

# Virtual environment
env/
venv/

# Environment variables
.env

# Google credentials
credentials.json
token.json

# Local tracking files
processed_files.json

# OS files
.DS_Store

# Frontend
node_modules/
dist/
build/